@charset "utf-8";

/*Q1*/
.size{
    width: 200px;
    height: 200px;
    background-color: #f00;
    margin: 0 auto;
}
@media screen and (max-width: 960px) {
    .size{
        width: 200px;
        height: 200px;
    }
}

/*Q2*/
.color{
    width: 300px;
    height: 300px;
    background-color: #007bff;
    margin: auto;
}
@media screen and (max-width: 960px) {
    .color{
        width: 300px;
        height: 300px;
        background-color: #007bff;
    }
}

/*Q3*/
.margin{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.margin1{
    width: 300px;
    height: 300px;
    background-color: #0008ff;
}

.margin2{
    width: 300px;
    height: 300px;
    background-color: #2f0;
    margin-left: 150px;
}

@media screen and (max-width: 960px) {
    .margin1{
        width: 300px;
        height: 300px;
        background-color: #0008ff;
    }
    .margin2{
        width: 300px;
        height: 300px;
        background-color: #2f0;
        margin-left: 50px;
    }
}

/*Q4*/
.float{
    display: inline-block;
    position: relative;
    left: 25%;
}

.float1{
    float: left;
    width: 300px;
    height: 300px;
    background-color: #f00;
}

.float2{
    float: left;
    width: 300px;
    height: 300px;
    background-color: #0008ff;
}

@media screen and (max-width: 960px) {
    .float1{
        float: none;
        width: 300px;
        height: 300px;
        background-color: #f00;
    }
    .float2{
        float: none;
        width: 300px;
        height: 300px;
        background-color: #0008ff;
    }
}

/*Q5*/
.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.red{
    width: 300px;
    height: 300px;
    background-color: #f00;
    text-align: center;
    line-height: 300px;
}

.blue{
    width: 300px;
    height: 300px;
    background-color: #0008ff;
    text-align: center;
    line-height: 300px;
}

.orange{
    width: 300px;
    height: 300px;
    background-color: #ff8400;
    text-align: center;
    line-height: 300px;
}

@media screen and (max-width: 960px) {
    .flex{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
}

/*Q6*/
.Q6flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.green{
    width: 300px;
    height: 300px;
    background-color: #2f0;
    text-align: center;
    line-height: 300px;
}

.yellow{
    width: 300px;
    height: 300px;
    background-color: #d4ff00;
    text-align: center;
    line-height: 300px;
}

.pink{
    width: 300px;
    height: 300px;
    background-color: #ff00e1;
    text-align: center;
    line-height: 300px;
}

@media screen and (max-width: 960px) {
    .green{
        order: 1;
    }
    .yellow{
        order: 2;
    }
    .pink{
        order: 0;
    }
}

/*Q7*/
.box{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box1{
    width: 300px;
    height: 300px;
    background-color: #f00;
}

.box2{
    display: none;
    width: 300px;
    height: 300px;
    background-color: #0008ff;
}

.box3{
    width: 300px;
    height: 300px;
    background-color: #2f0;
}

@media screen and (max-width: 960px) {
    .box1{
        display: none;
    }
    .box2{
        display: inline-block;
    }
}